<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Registration and Login App</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class = "container">
			<div class = "row">
				<div class = "col-md-6 col-md-offset-3">
					<img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />
					<form th:action="@{/login}" method="POST" class="form-signin">
						<h3 class="form-signin-heading" th:text="Welcome"></h3>
						<br/>
						<div th:if="${param.error}">
							<div class="alert alert-danger">Invalid username or password.</div>
						</div>
					
						<div th:if="${param.logout}">
							<div class="alert alert-info">You have been logged out.</div>
						</div>
						
						<div class = "form-group">
							<input type="text" class = "form-control" id ="username" name = "username" placeholder="Enter Email ID" autofocus="autofocus">
						</div>
						<div class="form-group">
							<input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
						</div>

						<div class="form-group">
							<div class="row">
								<div class="col-sm-6 col-sm-offset-3">
									<input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary" value="Log In" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>