<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="ISO-8859-1">
		<title>Registration and Login App</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h1>Registration and Login with Spring Boot, Spring Security, Thymeleaf, Hibernate and MySQL</h1>
			Welcome <span sec:authentication="principal.username"> User</span>
			<div sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></div>
		</div>
	</body>
</html>
